:root {
  --primary-color: #2091f9;
  --bg-dark: #252b42;
}

@font-face {
  font-family: 'graphik';
  src: url('fonts/graphik/graphikextralight-webfont.woff2') format('woff2'),
    url('fonts/graphik/graphikextralight-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'graphikthin';
  src: url('fonts/graphik/graphikthin-webfont.woff2') format('woff2'),
    url('fonts/graphik/graphikthin-webfont.woff') format('woff');
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: 'graphik';
  src: url('fonts/graphik/graphikblack-webfont.woff2') format('woff2'),
    url('fonts/graphik/graphikblack-webfont.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'graphik';
  src: url('fonts/graphik/graphikbold-webfont.woff2') format('woff2'),
    url('fonts/graphik/graphikbold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'graphik';
  src: url('fonts/graphik/graphiklight-webfont.woff2') format('woff2'),
    url('fonts/graphik/graphiklight-webfont.woff') format('woff');
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: 'graphik';
  src: url('fonts/graphik/graphikmedium-webfont.woff2') format('woff2'),
    url('fonts/graphik/graphikmedium-webfont.woff') format('woff');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'graphik';
  src: url('fonts/graphik/graphikregular-webfont.woff2') format('woff2'),
    url('fonts/graphik/graphikregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'graphik';
  src: url('fonts/graphik/graphiksuper-webfont.woff2') format('woff2'),
    url('fonts/graphik/graphiksuper-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::selection {
  background: var(--primary-color);
  color: #fff;
}
/** Topography **/
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: 'graphik', Arial, Helvetica, sans-serif;
  background-color: #fff;
  font-size: 1.8rem;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.list {
  display: flex;
  list-style: none;
  font-weight: 400;
}

.list a {
  text-decoration: none;
  color: #fff;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
.col-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.col-3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 768px) {
  .col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.align-right {
  align-items: end;
}
.align-center {
  align-items: center;
}
.sm {
  width: 24px;
  height: 24px;
}

.btn {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.6rem;
  border: 0;
  border-radius: 35px;
  text-decoration: none;
  padding: 18px 50px;
}
.btn:hover {
  background-color: var(--bg-dark);
}

.header {
  background-color: var(--bg-dark);
  background-image: url('../img/header-bg.jpg');
  /* background-blend-mode: multiply; */
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 40px;
    color: #fff;
  }
  .nav > .list {
    gap: 30px;
  }
}

.mobile {
  position: relative;
}
.mobile > .list {
  gap: 40px;
}
.nav-mobile {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 20px;
  padding-bottom: 40px;
  color: #fff;
}
.nav-mobile > .icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.nav-mobile > .logo {
  width: 180px;
}

@media screen and (min-width: 768px) {
  .nav-mobile {
    display: none;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;
}
.nav-menu > .logo {
  width: 180px;
}
.nav-menu > .list {
  gap: 30px;
}
.nav-items {
  background-color: var(--bg-dark);
  position: absolute;
  padding: 30px;
  font-weight: 600;
  width: 100%;
}
.show {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-items {
    display: none;
  }
}

.hero {
  padding: 140px 0 180px 0;
  margin: auto;
  text-align: center;
  max-width: 837px;
  color: #fff;
}
.hero h1 {
  margin: 0 2px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
}

.hero > .content {
  padding-top: 20px;
  margin: 0 20px 60px 20px;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero h1 {
    margin: 0 2px;
    font-weight: 700;
    font-size: 74px;
    line-height: 1.2;
  }
}
.reverse {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .reverse {
    display: flex;
    flex-direction: unset;
  }
}

.features {
  font-family: 'Inter' Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding: 80px 0 0 0;
  gap: 10px;
  max-width: 400px;
}
.features > h2 {
  font-size: 2.8rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .features {
    font-family: 'Inter' Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    padding: 100px 0 50px 0;
    gap: 10px;
    max-width: 400px;
  }
}
.featured {
  display: flex;
  flex-direction: column-reverse;
}
.featured-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: auto;
  justify-items: center;
  font-family: 'Inter' Arial, Helvetica, sans-serif;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .featured {
    display: flex;
    flex-direction: column;
  }
  .featured-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    justify-items: center;
    font-family: 'Inter' Arial, Helvetica, sans-serif;
    gap: 40px;
  }
}
.featured-item {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.featured-item > img {
  width: 50px;
}
.featured-item > h3 {
  font-size: 2.2rem;
  font-weight: 400;
  max-width: 300px;
}
.featured-item > p {
  font-size: 1.4rem;
  padding: 0 20px;
}
.video > img {
  margin: auto;
  width: 100%;
  margin-top: 40px;
}

.organize-items {
  font-family: 'Inter' Arial, Helvetica, sans-serif;
  gap: 40px;
  padding-top: 100px;
  padding-bottom: 50px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  align-items: center;
}
.organize-items > .card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.organize-items > .card > h3 {
  font-size: 2.2rem;
  font-weight: 400;
}
.organize-items > .card > p {
  font-size: 1.6rem;
  font-weight: 200;
}
.organize-items > .card > .link {
  padding-top: 20px;
}
.card > img {
  margin: auto;
  width: 400px;
}

@media screen and (min-width: 768px) {
  .organize-items {
    text-align: start;
    padding-top: 60px;
  }
}

.subscribe {
  font-family: 'Inter' Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 20px;
  align-items: center;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subscribe {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}

.subscribe > img {
  margin: auto;
  width: 400px;
}

.subscribe > .form-group > h3 {
  font-size: 2.2rem;
  font-weight: 400;
}
.subscribe > .form-group > p {
  font-size: 1.5rem;
  font-weight: 400;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 14px;
}

.form-group > small {
  font-size: 1.3rem;
}
.input-group {
  display: grid;
  grid-template-columns: 73% 25%;
  gap: 10px;
}
.input-group > input {
  background: #f4f4f4;
  padding: 16px 8px;
  border: 0;
  border-radius: 39px;
}
.input-group > input::placeholder {
  padding-left: 8px;
  padding-right: 8px;
}
.input-group > button {
  background: var(--primary-color);
  color: #fff;
  padding: 16px 0;
  border: 0;
  border-radius: 39px;
}

@media screen and (min-width: 768px) {
  .form-group {
    text-align: start;
  }
  .input-group {
    display: grid;
    grid-template-columns: 60% 25%;
    gap: 10px;
  }
}

.parners {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: auto;
  justify-content: center;
  padding-top: 30px;
}
.parners > img {
  width: 100px;
}
@media screen and (min-width: 768px) {
  .parners {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    gap: 50px;
  }
  .parners > img {
    width: 120px;
  }
}

.testimonies {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: auto;
  text-align: center;
  padding-bottom: 100px;
}
.testimonies > .features {
  padding-bottom: 0;
}
.testimonies > p {
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
}

.ibm {
  width: 80px;
  margin: auto;
  padding-top: 8px;
}
.testimonies > .author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: auto;
  text-align: center;
}
.testimonies > .author > img {
  width: 40px;
}
.testimonies > .author > .bio {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: auto;
  text-align: start;
  font-size: 1.3rem;
}
.testimonies > .link {
  padding-top: 30px;
}

.pricing {
  padding-bottom: 100px;
}

.pricing > .cards {
  font-family: 'Inter' Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: auto;
  gap: 30px;
  max-width: 860px;
  padding-top: 40px;
}

.pricing > .cards > .card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 30px;
  border-radius: 10px;
  padding: 30px 0;
  gap: 10px;
}

.pricing > .cards > .card > .days {
  font-size: 1.5rem;
}

.cards > .card > .title {
  font-size: 1.6rem;
  font-weight: 700;
}
.cards > .card > p {
  font-size: 1.2rem;
  font-weight: 200;
  padding: 0 50px;
  margin-top: -6px;
}

.cards > .card > .amount {
  display: flex;
  margin: auto;
  align-items: center;
  gap: 6px;
}

.cards > .card > .amount > h2 {
  font-size: 5rem;
  font-weight: 600;
}

.cards > .card > .amount > .price {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 500;
}

.cards > .card > .amount > .price > span {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.cards > .card > button {
  background: var(--primary-color);
  color: #fff;
  padding: 10px 0;
  margin: 0 30px;
  border: 0;
  border-radius: 39px;
  margin-top: 20px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .pricing > .cards {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 0;
  }
  .pricing > .cards > .card {
    margin: auto;
    width: 100%;
  }
}
.with-bg {
  background-color: var(--bg-dark);
  color: #fff;
}
.cards > .card-bg > .btn-white {
  background: #fff;
  color: var(--primary-color);
  margin-bottom: 40px;
}
.cards > .card-bg > .title {
  margin-top: 40px;
}

.card-white {
  background: #fff;
  color: #252b42;
}
.card-bg {
  background: var(--primary-color);
  color: #fff;
}
